<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button href="/ej1">
      Ejercicio 1
    </ion-button>

    <ion-button href="/ej2">
      Ejercicio 2
    </ion-button>

    <ion-button href="/ej3">
      Ejercicio 3
    </ion-button>

    <ion-button href="/ej4">
      Ejercicio 4
    </ion-button>

    <ion-button href="/ej5">
      Ejercicio 5
    </ion-button>

    <ion-button href="/ej6">
      Ejercicio 6
    </ion-button>

    <ion-button href="/ej7">
      Ejercicio 7
    </ion-button>
  </div>
</ion-content>
